
body {
	background-color: rgb(222,221,206);
	padding-left: 250px;
	font-family: serif;
	font-size: 20pt; 
}

pre {
	text-align: center;
	font-size: 0px;
	height: 50px; 
	margin: auto;
}

h1 {
	text-align: center;
	background-color: rgb(144,195,212);
	padding: 30px 30px 30px 30px;
	margin-right: 20px;
	border: 10px double;
	border-radius: 10px;
	font-size: 100px;
	font-weight: bold;
	font-family: Garamond;
}

h2 {
	text-align: center;
	font-family: Garamond;
	font-size: 40pt;
	background-color: rgb(173, 173, 173);
	border: 3px double;
}

p {
	text-align: justify;
	padding-right: 20px
}

hr {
	display:none;
}

a {
	color: black;
}

blockquote, table{
	background-color: rgb(81, 119, 150);
	width: 220px;
	height: 100%;
	position: fixed;
	top: 0px;
	left: -35px;
	overflow: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.toc a{
	display: block;
	padding: 8px 8px 16px 8px;
	background-color: rgb(81, 119, 150);
	text-align: center;
	border: 3px double;
}

.toc a:hover {
	background-color: #555;
	color: white;
}

h2 + p::first-letter {
	font-size: 50pt;
	font-family: "Monsieur La Doulaise";
}


